header{
    background-image: url(../Images/cabacera.jpg);
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 600px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    position: relative;
}
.superior{
    display: flex;
    justify-content: space-between;
    margin-left: 15%;
    margin-right: 15%;
    border-bottom: 1px solid white;
}
header a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-left: 50px;
    font-size: 10px;
}
.navIzquierda{
    margin-top: 25px;
}
.navIzquierda ul{
    display: flex;
}
.navDerecha{
    display: flex;
}
.navDerecha .iconos{
    margin: auto;
    margin-right: 20px;
}
.iconos p{
    margin-left: 50px;
}
.navDerecha img{
    width: 50px;
    height: 70px;
}
.textoAbajo{
    position: absolute;
    bottom: 2%;
    left: 5%;
}
.textoAbajo h1{
    text-transform: uppercase;
    font-size: 35px;
    font-weight: bold;
}
.textoAbajo p{
    text-transform: uppercase;
    font-size: 17px;
}
.textoAbajo input{
    background-color: blue;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    border: none;
    margin-top: 5px;
    text-align: center;
    justify-content: center;
    color: white;
    font-size: 12px;
    font-weight: bold;
}
.contenedor{
    width: 60%;
	margin-left: auto;
	margin-right: auto;
}
.series{
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 15%;
}
.series h2{
    opacity: 70%;
    border-bottom: 1px solid grey;
    width: 50px;
    padding-bottom: 30px;
}
.menu{
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin-top: 4%;
    margin-bottom: 4%;
    padding: 9px;
    border-bottom: 1px solid grey;
}
.series a{
    text-decoration: none;
    color: grey;
    opacity: 70%;
}
.especial a{
    color: black;
    border-bottom: 4px solid blue;
    opacity: 90%;
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 7px;
    width: 30px;
}
.seccionImagen1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.pequeña{
    width: 200px;
    height: 120px;
}
.seccionImagen1 h3{
    margin-top: 3px;
    margin-bottom: 3px;
}
.precio{
    opacity: 70%;
    margin-bottom: 10px;
    font-size: 10px;
}
article p{
    font-size: 10px;
}
.seccionImagen2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 100px;
    font-family: Arial, Helvetica, sans-serif;
    width: 60%;
	margin-left: auto;
	margin-right: auto;
}
.seccionImagen2 article{
    border: 1px solid grey;
    padding: 7px;
}
.seccionImagen2 h3{
    font-size: 30px;
    width: 200px;
    word-wrap: break-word;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}
.seccionImagen2 p{
    width: 200px;
    word-wrap: break-word;
    margin-top: 10px;
    margin-bottom: 10px;
}
.negrita{
    font-weight: bold;
}
.seccionImagen3{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 60%;
	margin-left: auto;
	margin-right: auto;
}
.seccionImagen3 article{
    border: 1px solid grey;
    padding: 7px;
}
.seccionImagen3 h3{
    font-size: 35px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}
.seccionImagen3 p{
    width: 200px;
    word-wrap: break-word;
    margin-top: 10px;
    margin-bottom: 10px;
}
.mediana{
    width: 430px;
    height: 250px;
}
.seccionLogos{
    display: flex;
    width: 60%;
	margin-left: auto;
	margin-right: auto;
    display: table;
    border-collapse: separate;
    border-spacing: 10px;
}
.seccionLogos span{
    background-color: grey;
    width: 220px;
    height: 100px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
.fondoGris{
    background-color: grey;
    height: 40vh;
    padding-top: 50px;
    margin-top: 50px;
}
.pie{
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid ghostwhite;
    font-family: Arial, Helvetica, sans-serif;
}
.pie h3{
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 15px;
}
.pie li{
    font-size: 10px;
    margin-top: 5px;
    color: ghostwhite;
}
.lineaFinal{
    width: 60%;
	margin-left: auto;
	margin-right: auto;
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 12px;
}
.lineaFinal a{
    text-decoration: none;
    margin-left: 8px;
    color: blue;
}
.links{
    display: flex;
}